.burger_constructor {
    max-width: 600px;
    height: calc(100% - 89px);
    padding-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
}

.all_ingredients {
    padding-bottom: 40px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    row-gap: 16px;
}

.all_ingredients__void {
    padding-bottom: 40px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: cornflowerblue;
}

@media screen and (min-height: 900px) {

    .all_ingredients {
        height: 500px;
    }
}

@media screen and (min-height: 1200px) {

    .all_ingredients {
        height: 650px;
    }
}

.bun {
    padding-left: 32px;
}

.auther_ingredients {
    overflow-y: auto;
    min-height: 100px;
}

.auther_ingredients_item {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.do_order {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 40px;
}

.total_price {
    justify-self: end;
}

